addGroup "RTL NSU 0"
addSubGroup "Context admission" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/aw_context
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/aw_context_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/aw_context_ready
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/awid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/ar_context
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/ar_context_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/ar_context_ready
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/arid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/w_context
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/w_context_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/w_beat
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/w_accept
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/w_last
endSubGroup "Context admission"
addSubGroup "Request path" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/selected_aw
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/selected_aw_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/selected_aw_ready
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/selected_w
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/selected_w_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/selected_w_ready
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/selected_ar
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/selected_ar_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/selected_ar_ready
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/decoded_aw
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/decoded_aw_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/decoded_aw_ready
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/decoded_w
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/decoded_w_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/decoded_w_ready
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/decoded_ar
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/decoded_ar_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_request_path/decoded_ar_ready
endSubGroup "Request path"
addSubGroup "Context response" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/s_b_i
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/s_b_valid_i
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/s_b_ready_o
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/m_b_o
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/m_b_valid_o
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/m_b_ready_i
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/s_r_i
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/s_r_valid_i
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/s_r_ready_o
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/m_r_o
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/m_r_valid_o
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[0]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/m_r_ready_i
endSubGroup "Context response"

addGroup "RTL NSU 3"
addSubGroup "Context admission" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/aw_context
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/aw_context_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/aw_context_ready
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/awid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/ar_context
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/ar_context_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/ar_context_ready
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/arid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/w_context
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/w_context_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/w_beat
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/w_accept
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/w_last
endSubGroup "Context admission"
addSubGroup "Request path" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/selected_aw
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/selected_aw_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/selected_aw_ready
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/selected_w
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/selected_w_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/selected_w_ready
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/selected_ar
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/selected_ar_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/selected_ar_ready
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/decoded_aw
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/decoded_aw_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/decoded_aw_ready
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/decoded_w
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/decoded_w_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/decoded_w_ready
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/decoded_ar
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/decoded_ar_valid
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_request_path/decoded_ar_ready
endSubGroup "Request path"
addSubGroup "Context response" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/s_b_i
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/s_b_valid_i
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/s_b_ready_o
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/m_b_o
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/m_b_valid_o
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/m_b_ready_i
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/s_r_i
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/s_r_valid_i
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/s_r_ready_o
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/m_r_o
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/m_r_valid_o
addSignal -h 15 -UNSIGNED -HEX /tb_nmu_cosim/gen_nsu[3]/gen_rtl_nsu/i_nsu/i_response_path/i_context_buffer/m_r_ready_i
endSubGroup "Context response"
